@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-kr.css);
.banner-title { font-family: 'Spoqa Han Sans', 'Spoqa Han Sans JP', 'Sans-serif'; }

.contentsAgency {
    font-style: normal;
    font-weight: normal;
    font-size: 1.4rem;
    line-height: 1.4;
    color: #666;
    word-break: keep-all;
    max-height: 99999px;
    min-height: 460px;
    margin:0 auto;
    margin-top: 15vh;
    // padding: 0 0 100px;
    position: relative;
    box-sizing: border-box;
    transition: all .7s ease-out;
    transform-origin: 50% 50%;
    transition-delay: .2s;
    opacity: 1;
    top: 0px;
    width: 90%;
    margin-bottom: 5vh;
    .banner {
        color: #222;
        font-size: 14px;
        font-weight: 400;
        line-height: 1;
        letter-spacing: 0;
        word-break: break-all;
        text-align: center;
        padding: 0px;
        vertical-align: top;
        .banner-title {
            color: #222;
                line-height: 1.4;
                letter-spacing: 0;
                word-break: break-all;
                text-align: center;
                margin: 0px;
                padding: 0px;
                vertical-align: top;
                font-size: 2.7rem;
                font-weight: bold;
        }
    }// banner end

    .content-box {
        max-width: 1100px;
        margin: 0 auto;
        margin-top: 5vh;
        .left-box {
            width: 35%;
            float: left;

            .agency-list {
                height: 460px;
                border: 2px solid #333;
                display: inline-block;
                width: 100%;
                overflow: auto;
                .vehicle {
                    height: 100px;
                    border-bottom: 2px solid #333;
                    text-align: center;
                    line-height: 100px;
                }
            }// agency-list end

            .vehicle:last-child {
                border: none;
            }
        

            .list-search {
                width: 100%;
                height: 40px;
                line-height: 40px;
                margin: 0 auto;
                margin-top: 11px;
                text-align: center;

                .search-form {
                    position: relative;
                    width: 100%;
                    height: 50px;
                    margin: 0 auto;
                    border: 2px solid #333;
                    background: #fff;
                    transition: all 0.3s ease;

                    .search-input {
                        position: absolute;
                        top: 13px;
                        left: 38px;
                        font-size: 15px;
                        background: none;
                        color: #666;
                        width: 220px;
                        height: 20px;
                        border: none;
                        appearance: none;
                        outline: none;

                        &::-webkit-search-cancel-button {
                            appearance: none;
                        }
                    }

                    .search-button {
                        position: absolute;
                        top: 13px;
                        left: 12px;
                        height: 21px;
                        width: 23px;
                        padding: 0;
                        margin: 0;
                        border: none;
                        background: none;
                        outline: none !important;
                        cursor: pointer;
                    }
                }
            }// list-search end
        }// left-box end

        .right-box {
            width: 660px;
            float: right;
            height: 526px;
            border: 2px solid #333;
            overflow: scroll;

            .agency-form {
                line-height: 1; 
                word-break: break-all;
                text-align: center;
                border: none;
                align-items: center;
                margin-left: 30px;
                margin-top: 30px;
            }

            .agencyId {
                display: flex;
                flex-direction: row;
                margin: 0;
                padding: 10px 10px 10px 20px;
                text-align: left;
                .form-label{
                    font-family: 'IBMPlexSansKR-Regular';
                    font-weight: bold;
                    font-size: 1.65rem;
                    margin: 0;
                    padding: 0;
                    display: inline-block;
                    vertical-align: top;
                    letter-spacing: -0.1px;
                    color: #3c3c3c;
                    line-height: 40px;
                    width: 120px;
                }

                .form-input {
                    word-break: break-all;
                    width: 300px;
                    margin: 0px;
                    height: 40px;
                    padding: 0 14px;
                    color: #222;
                    font-size: 1.6rem;
                    border: 1px solid #dedede;
                    outline: 0;
                    box-sizing: border-box;
                    vertical-align: top;
                    display: block;
                }

                .agencyId-btn {
                    cursor: pointer;
                    width: 70px;
                    height: 40px;
                    line-height: 40px;
                    text-decoration: none;
                    color: #fff;
                    background-color: #212121;
                    border: #212121;
                    font-size: 13px;
                    font-weight: 500px;
                    margin-left: 20px;
                }
            }// agencyId end

            .agencyName, .agencyCharge, .agencyFee, .agencyDiscount, .agencyCard, .agencyFile {
                display: flex;
                flex-direction: row;
                margin: 0;
                padding: 10px 10px 10px 20px;
                text-align: left;
                .form-label{
                    font-family: 'IBMPlexSansKR-Regular';
                    font-weight: bold;
                    font-size: 1.65rem;
                    margin: 0;
                    padding: 0;
                    display: inline-block;
                    vertical-align: top;
                    letter-spacing: -0.1px;
                    color: #3c3c3c;
                    line-height: 40px;
                    width: 120px;
                }

                .form-input {
                    word-break: break-all;
                    width: 300px;
                    margin: 0px;
                    height: 40px;
                    padding: 0 14px;
                    color: #222;
                    font-size: 1.6rem;
                    border: 1px solid #dedede;
                    outline: 0;
                    box-sizing: border-box;
                    vertical-align: top;
                    display: block;
                }
                
                .file {
                    font-size: 1.5rem;
                    margin-top: 7px;
                    margin-left: 120px;
                }
            }

            .agencyCardImg {
                display: flex;
                flex-direction: row;
                margin: 0;
                margin-left: 139px;
                margin-top: 10px;
                height: 204px;
                text-align: center;
                width: 323.5px;
                border: 1px solid #dedede;
            }

            .submit-btn {
                color: #222;
                font-size: 1.4rem;
                font-weight: 400;
                line-height: 1;
                letter-spacing: 0;
                word-break: break-all;
                text-align: center;
                margin: 0px;
                padding: 0px;
                vertical-align: top;
                margin-top: 30px;
                margin-bottom: 30px;
                margin-left: 6px;

                .submit {
                    font-weight: 400;
                    letter-spacing: 0;
                    word-break: break-all;
                    vertical-align: top;
                    cursor: pointer;
                    display: inline-block;
                    font-size: 1.6rem;
                    text-align: center;
                    box-sizing: border-box;
                    text-decoration: none;
                    color: #fff;
                    border: 1px solid #212121;
                    background-color: #212121;
                    // float: right;
                    width: 100px;
                    height: 100px;
                    margin-top: -183px;
                    line-height: 103px;
                    margin-left: 460px; 
                }
            }
        }// right end
    }// content-box end
}// contentsAgency end