// @import '../node_modules/react-vis/dist/style.css';
@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-kr.css);
.chart-title { font-family: 'Spoqa Han Sans', 'Spoqa Han Sans JP', 'Sans-serif'; }

.contentsAdminUser {
    width: 90%;
    margin: 0 auto;
    margin-top: 120px;
    .chart-area {
        width: 50%;
        height: 500px;

        float: left;
        .chart-title {
            font-size: 1.8rem;
            text-align: center;
            margin-bottom: 20px;
            font-weight: bold;
            color: #333;
        }
        .chart-content {
            width: 650px;
            margin: 0 auto;
        }    
    }// chart-area end

    .table-area {
        width: 50%;
        height: 500px;
        float: right;
        
        .table-title {
            font-size: 1.8rem;
            text-align: center;
            margin-bottom: 20px;
            font-weight: bold;
            color: #333;
        }
        
        .table-search {
            margin: 10px 20px 0 0;
            text-align: right;
            input {
                height: 35px;
                padding: 0 10px;
                background-color: #fff;
                border: 1px solid #ccc;
                font-size: 1.3rem;
                color: #666;
                width: 150px;
            }
            button {
                height: 35px;
                padding: 0 10px;
                border: 1px solid #2f3235;
                font-size: 1.2rem;
                line-height: 35px;
                width: 60px;
                background-color: #1e2022;
                color: #fff;
                cursor: pointer;
            }
        }// table-search end

        .table-content {
            width: 95%;
            margin: 0 auto;
            border-bottom: 1px solid #c8c8c8;
            border-collapse: collapse;
            th{
                padding: 5px 10px;
                color: #444;
                font-size: 1.5rem;
                border-top: 2px solid #212121;
                border-bottom: 1px solid #dcdcdc;
                background-color: #f1f1f1;
                text-align: center;
                vertical-align: middle;
                width: 600px;
            }
            td{
                padding: 5px 0;
                color: #333;
                font-size: 1.4rem;
                line-height: 18px;
                border-top: 1px solid #dcdcdc;
                text-align: center;
                vertical-align: middle;
            }// td end
        }//table-content end

        .pageNationA {
            background-color: #f9f9f9;
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
    button {
        font-size: 14px;
        margin: 20px auto;
        padding: 15px;
    }
        }
    }// table-area end
}// contents end

// .mainWrap{
//     width:100%;
//     display: flex;
//     align-items: center;
//     justify-content: center;
//     flex-direction: row;
//     margin-top: 120px;

//     .titleWrap1{
//         width:600px;
//         text-align: center;
//         font-size:14px;
//         background-color: red;
//     }
//     .titleWrap2{
//         font-size:14px;
//         width:550px;
//         text-align: center;
//         background: orange;
//     }
// }

// .writeChart{
//     margin: auto;
//     display: flex;
//     width: 100%;
//     height: 400px;
//     justify-content: center;
//     background-color: yellow;

//     .writeTable{
//         width:600px;
//         height: 300px;
//         background-color: green;
//     }
//     .adminButton{
//         width:100%;
//         display: flex;
//         justify-content:flex-end;
//         background-color: blue;
//         input{
            
//             border:none;
//             margin-top: 5px;
//             width:150px;
//             height: 20px;
//         }
//         button{
//             margin-top: 5px;
//             width:50px;
//             height: 20px;
//             border:none;
//             color:white;
//             background-color: #464646;
//         }
//     }
    
//     .chartTable{
//         border-collapse: collapse;
//         background-color: purple;
//         th{
//             position: sticky;
//             top: 0px;
//             font-weight: 100;
//             font-size:13px;
//             width:200px;
//             height: 25px;
//             padding: 0;
//             background-color: #464646;
//             color:white;
//         }
//         td{
            
//             height: 25px;
//             text-align: center;
//             font-size:13px;
//             border-bottom: 1px solid rgb(173, 173, 173);
//         }
//     }
//     // ::-webkit-scrollbar { 
//     //     width: 7px; 
//     // }
//     // ::-webkit-scrollbar-track { background-color: #e2e2e2; }
//     // ::-webkit-scrollbar-thumb { 
//     //     background: #7c7c7caf;
//     //     border-radius: 20px;
//     // }

// }