@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-kr.css);
h3 { font-family: 'Spoqa Han Sans', 'Spoqa Han Sans JP', 'Sans-serif'; }


.end {
    // position: absolute;
    // top: 0;
    background-color: red;
    width: 100%;
    height: 90px;
}

.banner {
    .img-area {
        // margin-bottom: 10px;
        // position: relative;
        // width: 100%;
        // height: auto;
        // z-index: -1;
    img {
        width: 100%;
        height: auto;
        }
    }// img-area end

    .text-area {
        font-family: 'ChosunKm';
        position: absolute;
        width: 100%;
        height: auto;
        text-align: center;
        line-height: 400px;
        font-size: 45px;
        color: rgba(255, 255, 255, 0.9);
        font-size: 70px;
        top: 32vh;
        background-color: none;
        z-index: 0;
    }
}

@media screen and (max-width: 479px) {
    .img-area {
        max-width: 100%;
    }
    .end {
        height: 50px;
    }
    .text-area {
        font-size: 11px;
        top: 100px;
    }
} // media end