@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-kr.css);
.banner-title { font-family: 'Spoqa Han Sans', 'Spoqa Han Sans JP', 'Sans-serif'; }

html { 
    font-size:62.5%;
    margin: 0;
    padding: 0;
    background-color: #fff;
}
.contentsBoard {
    font-style: normal;
    font-weight: normal;
    font-size: 1.4rem;
    line-height: 1.4;
    color: #666;
    word-break: keep-all;
    max-height: 99999px;
    min-height: 460px;
    margin:0 auto;
    margin-top: 70px;
    position: relative;
    box-sizing: border-box;
    transition: all .7s ease-out;
    transform-origin: 50% 50%;
    transition-delay: .2s;
    opacity: 1;
    top: 0px;
    width: 1200px;
    margin-bottom: 70px;

    .start {
        height: 520px;
        width: 100%;
    }

    .banner{
    color: #222;
    font-size: 14px;
    font-weight: 400;
    line-height: 1;
    letter-spacing: 0;
    word-break: break-all;
    text-align: center;
    margin-top: 10px;
    padding: 0px;
    vertical-align: top;

        .banner-title {
            color: #222;
            line-height: 1.4;
            letter-spacing: 0;
            word-break: break-all;
            text-align: center;
            margin: 0px;
            padding: 0px;
            vertical-align: top;
            font-size: 2.7rem;
            font-weight: bold;
        }
        .subtitle {
            font-size: 1.6rem;
            margin-top: 0;
        }
    }//banner end
    .list {
        color: #222;
        font-size: 1.4rem;
        font-weight: 400;
        line-height: 1;
        letter-spacing: 0;
        margin: 55px 0 0 0;
        padding: 0px;
        vertical-align: top;
        border-collapse: collapse;
        border-spacing: 0;
        word-break: break-all;
        width: 100%;
        border-top: 2px solid #f2b640;
        border-bottom: 1px solid #c8c8c8;
        background: #fff;
        table-layout: fixed;
            thead {
                color: #222;
                font-size: 1.4rem;
                font-weight: 400;
                line-height: 1;
                letter-spacing: 0;
                border-collapse: collapse;
                border-spacing: 0;
                word-break: break-all;
                margin: 0px;
                padding: 0px;
                vertical-align: top;
            }// thead end
            .th-title {
                letter-spacing: 0;
                border-collapse: collapse;
                border-spacing: 0;
                word-break: break-all;
                margin: 0px;
                font-weight: 400;
                padding: 26px 10px;
                color: #333;
                font-size: 1.6rem;
                line-height: 18px;
                border-bottom: 1px solid #dcdcdc;
                background-color: #f9f9f9;
                text-align: center;
                vertical-align: middle;
                width: 600px;
            }
            .th-date {

            }
            th {
                letter-spacing: 0;
                border-collapse: collapse;
                border-spacing: 0;
                word-break: break-all;
                margin: 0px;
                font-weight: 400;
                padding: 10px 10px;
                color: #333;
                font-size: 1.6rem;
                line-height: 18px;
                border-bottom: 1px solid #dcdcdc;
                background-color: #f9f9f9;
                text-align: center;
                vertical-align: middle;
                width: 100px;
            }
            tbody {
                color: #222;
                font-size: 1.4rem;
                font-weight: 400;
                line-height: 1;
                letter-spacing: 0;
                border-collapse: collapse;
                border-spacing: 0;
                word-break: break-all;
                margin: 0px;
                padding: 0px;
                vertical-align: top;
                tr {  
                    &:hover{
                    background-color: rgba(85, 85, 85, 0.3);
                    }                
                    td {
                        font-weight: 400;
                        letter-spacing: 0;
                        border-collapse: collapse;
                        border-spacing: 0;
                        word-break: break-all;
                        margin: 0px;
                        height: 10px;
                        padding: 0 10px;
                        color: #666;
                        font-size: 1.4rem;
                        line-height: 16px;
                        border-top: 1px solid #dcdcdc;
                        text-align: center;
                        vertical-align: middle;
                        a:link {text-decoration: none; color: rgb(29, 29, 29);}
                        a:visited {text-decoration: none; color: #666;}                            }// ted end
            }// tr end
            }// tbody end
        }// list end
}// contentsNotice end
.btn-area {
    color: #222;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1;
    letter-spacing: 0;
    word-break: break-all;
    text-align: center;
    margin: 0px;
    padding: 0px;
    vertical-align: top;
    margin-top: 15px;
    
    .write-btn{
        max-height: 99999px;
        margin: 0;
        font-style: normal;
        height: 55px;
        width: 55px;
        padding: 0 5px;
        border: 1px solid #ccc;
        font-weight: 400;
        font-size: 1.9rem;
        line-height: 55px;
        display: inline-block;
        box-sizing: border-box;
        border-color: #464646;
        background-color: #464646;
        color: #fff;
        cursor: pointer;
        float: right;
        border-radius: 50%;

        .pencil {
            margin-left: 2px;
        }
    }// write-btn
}// btn-area
.pageNation {
    background-color: #f6f5f5;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0;
    margin-bottom: 50px;

    button {
        font-size: 14px;
    }
}   