@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-kr.css);
@import url(//fonts.googleapis.com/css?family=Black+Han+Sans:400);
@import url(//fonts.googleapis.com/css?family=Black+Han+Sans&display=swap&subset=korean);
@font-face {
    font-family: 'IBMPlexSansKR-Light';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-07@1.0/IBMPlexSansKR-Light.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'ChosunKm';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@1.0/ChosunKm.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
* {
    margin: 0;
    padding: 0;
    font-family: 'IBMPlexSansKR-Light';
    }

html, body {
    width: 100%;
    height: 100%;
    // overflow: hidden;
}

.slick-dots {
    position: absolute;
    list-style: none;
    text-align: center;
    padding: 0;
    margin: 0;
    width: 100%;
    li {
        position:relative;
        display: inline-block;
        height: 20px;
        width: 20px;
        margin: 0;
        padding: 0;
    }
}

.contentsTest {
    width: 100%;
    height: 100%;
    // overflow: hidden; 
    
    .section0 {
        width: 100vw;
        height: 100vh;
        background-color: #ffffff;
    }
    .section1 {
        width: 100vw;
        height: 100vh;
        background-color: #222831;

        .bounce {
            width: 25px;
            height: 25px;
            border-radius: 50%;
            background-color: #f2b640;
            position: absolute;
            top: 200px;
            margin-left: 650px;
        }


        .section1-title {
            color: #ffffff;
            font-family: 'Black Han Sans', sans-serif;
            text-align: center;
            font-size: 50px;
            padding-top: 25vh;

            span {
                display: inline-block;
                opacity: .6;
                transition: opacity .15s .15s ease-in;
                will-change: opacity;
            }
            span.bounced {
                opacity: 1;
            }
            #support {
                display: none;
                color: #ffffff;
                font-size: 1rem;
                position: absolute;
                bottom: 1rem;
                left: 0;
                right: 0;
            }
            #support a {
                color: #fcfeff;
            }
        }
        .section1-subtitle {
            color: #eeeeee;
            text-align: center;
            font-size: 25px;
            padding-top: 3vh;

            span {
                color: #f2b640;
            }
        }
    }

    .section2 {
        width: 100vw;
        height: 100vh;
        background-color: #eeeeee;

            dl {
                font-size: 20px;

                dt {
                    letter-spacing: -.02em;
                    box-sizing: border-box;
                    margin: 0;
                    padding: 0;
                    word-break: keep-all;
                    -webkit-text-size-adjust: none;
                    color: #212121;
                    font-size: 1.5em;
                    font-weight: 300;
                    margin-bottom: 0.5em;
                    line-height: 1.5em;
                    .dt-b {

                    }// dtb
                }// dt
            }//dl

}//section2

    .section3 {
        position: relative;
        width: 100vw;
        height: 100vh;
        background-color: #ffffff;
        font-family: 'ChosunKm';
        overflow: hidden;


        .section3-text{
            color: #262626;
            position: absolute;
            padding-left: 55%;
            padding-top: 20%;

            .section3-title {
                font-size: 60px;
                font-family: 'ChosunKm';
                font-weight: 600;
            }
            .section3-subtitle{
                color: #757171;
                font-size: 16px;
                padding-left: 5px;
                padding-top: 15px;
                font-family: 'ChosunKm';
            }
            
            // .img2 {
            //     width: 18px;
            //     object-fit: cover;
            //     padding-left: 3%;
            //     padding-top: 30%;
            // }
            // .playstore {
            //     font-size: 15px;
            //     color : black;
            //     font-weight: bold;
            //     position: absolute;
            //     top: 540px;
            //     left: 1111px;
            // }
        }

        .bgc-box {
            width: 45.45%;
            height: 100%;
            background-color: #222831;
            border: none;
        }
        .image-con{
            width: 52%;
            object-fit: cover;
            position: absolute;
            top: 0;
            margin-top: 4%;
            .img1 {
                width: 100%;
                // object-fit: fill;
            }
        }
        
        .mobile-app {
            position: absolute;
            color: #eeeeee;
            font-size: 14px;
            top: 0;
            .mobile {
                padding-top: 30px;
                padding-left: 40px;
                
            }
            .app {
                padding-top: 10px;
                padding-left: 40px;
            }
        }
    }
}

