@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-kr.css);

.title-input {
    font-family: 'Spoqa Han Sans', 'Spoqa Han Sans JP', 'Sans-serif';
}

html {
    font-size: 62.5%;
    margin: 0;
    padding: 0;
}


.contentsFindingAway {
    font-style: normal;
    font-weight: normal;
    font-size: 1.4rem;
    line-height: 1.4;
    color: #666;
    word-break: keep-all;
    max-height: 99999px;
    min-height: 460px;
    margin:0 auto;
    margin-top: 10vh;
    // padding: 0 0 100px;
    position: relative;
    box-sizing: border-box;
    transition: all .7s ease-out;
    transform-origin: 50% 50%;
    transition-delay: .2s;
    opacity: 1;
    top: 0px;
    width: 1200px;
    margin-bottom: 100px;

    .banner{
    color: #222;
    font-size: 14px;
    font-weight: 400;
    line-height: 1;
    letter-spacing: 0;
    word-break: break-all;
    text-align: center;
    padding: 0px;
    vertical-align: top;

        .banner-title {
            color: #222;
            line-height: 1.4;
            letter-spacing: 0;
            word-break: break-all;
            text-align: center;
            margin: 0px;
            padding: 0px;
            vertical-align: top;
            font-size: 2.7rem;
            font-weight: bold;
        }
        .subtitle {
            width: 500px;
            font-size: 1.6rem;
            margin: 0 auto;
            background-color: rgba(255, 232, 100, 0.3);
        }
    }//banner

    .map {
        margin-top: 5vh;
    }

    .faw-input-box {
        margin-top: 5vh;
        width: 1000px;
    }
}// contentsFindingAway end
.faw-title {
    .title-input {
        color: #222;
        line-height: 1.4;
        letter-spacing: 0;
        word-break: break-all;
        text-align: center;
        margin: 0px;
        padding: 0px;
        vertical-align: top;
        font-size: 2.7rem;
        font-weight: bold;

    }

    .title-p {
        font-size: 1.6rem;
        text-align: center;
        margin: 0;

    }
}

.faw-box {
    width: 100%;
    height: 600px;
    margin-top: 5vh;
    margin-bottom: 20px;
    // background-color: darkred;

    .map-content-box {
        width: 500px;
        height: 600px;
        float: left;
    }

    .faw-input-box {
        width: 500px;
        height: 500px;
        float: right;

        .city-select-box{
            width: 100%;
            height: 50px;
            line-height: 50px;

            .first {
                width: 150px;
                height: 50px;
                float: left;
                outline: none;

                .city {
                    width: 120px;
                }
            }

            .second {
                width: 150px;
                height: 50px;
                float: left;
                outline: none;


                .gu {
                    width: 120px;
                }
            }

            .fawbtn-box {
                .select-btn {
                    width: 50px;
                    float: right;
                    font-size: 20px;
                    line-height: 50px;
                    border: none;
                    background: none;
                }
            }
        }

        .select-list {
            .list-box {
                width: 100%;
                height: 540px;
                margin: 5px auto;
                background-color: white;
                border: 1px solid #d4d4d4;

                .list-arr {
                    height: 50px;
                    font-size: 18px;
                    text-align: center;
                    line-height: 50px;
                    border-bottom: 1px solid #d4d4d4;
                }
            }
        }
    }
}