@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-kr.css);
.banner-title { font-family: 'Spoqa Han Sans', 'Spoqa Han Sans JP', 'Sans-serif'; }

html { 
    font-size:62.5%;
    margin: 0;
    padding: 0;
}



.contentsFindId {
    font-style: normal;
    font-weight: normal;
    font-size: 1.4rem;
    line-height: 1.4;
    color: #666;
    word-break: keep-all;
    max-height: 99999px;
    min-height: 460px; 
    margin:0 auto;
    margin-top: 50px;
    // padding: 0 0 120px;
    position: relative;
    box-sizing: border-box;
    transition: all .7s ease-out;
    transform-origin: 50% 50%;
    transition-delay: .2s;
    opacity: 1;
    top: 0px;
    width: 1200px;
    margin-bottom: 100px;



    .banner{
        color: #222;
        font-size: 14px;
        font-weight: 400;
        line-height: 1;
        letter-spacing: 0;
        word-break: break-all;
        text-align: center;
        padding: 0px;
        vertical-align: top;
        margin-top: 3vh;
            .banner-title {
                color: #222;
                line-height: 1.4;
                letter-spacing: 0;
                word-break: break-all;
                text-align: center;
                margin: 0px;
                padding: 0px;
                vertical-align: top;
                font-size: 2.7rem;
                font-weight: bold;
            }
        .subtitle {
            font-family: 'IBMPlexSansKR-Regular';
            width: 430px;
            font-size: 1.8rem;
            margin: 0 auto;
            background-color: #87a7b363;
        }
    }// banner end

    .form {
        width: 850px;
        margin: 50px auto;
        border: 1px solid #dedede;
        
        .form-input {
            line-height: 1; 
            word-break: break-all;
            text-align: center;
            border: none;
            width: 800px;
            align-items: center;
            margin: 30px auto;

            
            .form-name{
                display: flex;
                flex-direction: row;
                color: #222;
                margin: 0 auto;
                padding: 10px;
                text-align: left;
                width: 480px;


                .form-label {
                    float: left;
                    margin: 0;
                    padding: 0;
                    display: inline-block;
                    vertical-align: top;
                    font-size: 1.7rem;
                    font-weight: bold;
                    letter-spacing: -0.1px;
                    color: #3c3c3c;
                    line-height: 45px;
                    width: 100px;
                }
            
                .input-text {
                    word-break: break-all;
                    width: 250px;
                    margin: 0px;
                    height: 45px;
                    padding: 0 14px;
                    color: #222;
                    font-size: 1.7rem;
                    border: 1px solid #dedede;
                    background-color: #fff;
                    outline: 0;
                    box-sizing: border-box;
                    vertical-align: top;
                    display: block;
                }
            }// form-name end
            
            .form-email, .form-insert {
            display: flex;
            flex-direction: row;
            font-size: 14px;
            margin: 0 auto;
            padding: 10px;
            text-align: left;
            width: 480px;

            .form-label {
                margin: 0;
                padding: 0;
                display: inline-block;
                vertical-align: top;
                font-size: 1.7rem;
                font-weight: bold;
                letter-spacing: -0.1px;
                color: #3c3c3c;
                line-height: 45px;
                width: 100px;
            }
        
            .input-text {
                word-break: break-all;
                width: 250px;
                margin: 0px;
                height: 45px;
                padding: 0 14px;
                color: #222;
                font-size: 1.6rem;
                border: 1px solid #dedede;
                background-color: #fff;
                outline: 0;
                box-sizing: border-box;
                vertical-align: top;
                display: block;
                }
            }// form-email, form-insert end
            .btn-ct {
                margin-left: 20px;
                width: 95px;
                height: 45px;
                line-height: 45px;
                text-decoration: none;
                color: white;
                background-color: #393e46;
                border: #393e46;
                font-size: 1.4rem;
                font-weight: 500px;
            }
            .btn-wrap {
                width: 480px;
                margin-left: 153px;
                .btn-submit {
                    margin-top: 20px;
                    width: 250px;
                    height: 45px;
                    line-height: 45px;
                    text-decoration: none;
                    color: white;
                    background-color: #393e46;
                    border: #393e46;
                    font-size: 1.6rem;
                    font-weight: 500px;
                    cursor: pointer;
                    }
            }
        }// form-input end
    }// form end
    .find-pw {
        margin-top: 25px;
        margin-left: 380px;
        .btn-subtitle {
            font-size: 1.6rem;
            color : #464646;
        }
        .go-pw {
                font-size: 1.6rem;
                font-weight: 400;
                display: inline-block;
                margin-left: 2px;
                text-decoration: underline;
                color: #464646;
                margin-left: 10px;
        }
        .arrow-btn {
            margin-left: 5px;
            tab-size: 3px;
        }
    }// find-id end
}// contentsFind_id end


@media screen and (max-width: 479px) {
    .contentsFindId {
        max-width: 100%;

        .banner {
            width: 90%;
            margin: 0 auto;
            word-break:keep-all;

            .banner-title {
                font-size: 24px;
            }
            .subtitle {
                width: 50%;
                margin: 0 auto;
                font-size: 13.5px;
            }
        }// banner end

        .form {
            width: 90%;
            border: none;
            margin: 20px auto;
    
            .form-input{
                margin: 0;
                width: 100%;

                .form-name {
                    .form-label {
                        display: none;
                    }
                }
                    
                .form-email {
                    float: center;
                    .form-label {
                    display: none;
                    }
                    .btn-ct {
                        margin: 0 0 0 10px;
                    }
                }
                .form-insert {
                    .form-label {
                        display: none;
                    }
                    .btn-ct {
                        margin: 0 0 0 10px;
                    }
                }
            }// form-input end
        }// form end
        .find-pw {
            margin: 37px;
        }
    }// contents end
}// media end

@media screen and (min-width: 480px) and (max-width: 1024px) {
    .contentsFindId {
        width: 100%;
        .banner {
            width: 90%;
            margin: 0 auto;
            word-break:keep-all;

            .banner-title {
                font-size: 26px;
            }
            .subtitle {
                width: 100%;
                margin: 0 auto;
                font-size: 15px;
            }
        }// banner end
        .form {
            width: 80%;
            margin: 40px auto;
    
            .form-input{
                margin: 0;
                width: 67%;
                margin: 20px auto;

                .form-name {
                    width: 80%;
                    margin: 0 auto;
                }
                    
                .form-email {
                    width: 80%;
                    margin: 0 auto;
                    float: center;
                    .btn-ct {
                        margin: 0 0 0 10px;
                    }
                }
                .form-insert {
                    width: 80%;
                    margin: 0 auto;
                    .btn-ct {
                        margin: 0 0 0 10px;
                    }
                }
            }// form-input end
        }// form end
        .find-pw {
            width: 80%;
            margin: 37px auto;
            text-align: center;
        }
    }// contents end
}// media end