@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-kr.css);
@import url(//fonts.googleapis.com/css?family=Black+Han+Sans:400);
@import url(//fonts.googleapis.com/css?family=Black+Han+Sans&display=swap&subset=korean);
@font-face {
    font-family: 'IBMPlexSansKR-Light';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-07@1.0/IBMPlexSansKR-Light.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'ChosunKm';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@1.0/ChosunKm.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
* {
    margin: 0;
    padding: 0;
    font-family: 'IBMPlexSansKR-Regular';
    }

html, body {
    width: 100%;
    height: 100%;
    // overflow: hidden;
}

.contentsMain {
    position: relative;
    margin: 0 auto;
    .section1, .section2, .section3 {
        width: 100vw;
        height: 100vh;

        .title {
            padding-top: 120px;
            line-height: 1.6;
            word-break: keep-all;
            border: 0;
            font-weight: bold;
            position: relative;
            width: 100%;
            max-width: 1000px;
            margin: 0 auto;
            padding-left: 80px;
            font-size: 54px;
            color: #000;
            box-sizing: border-box;
            z-index: 2;
            opacity: 0.742268;
            transform: translate3d(-15.4639px, 0px, 0px);
        }
    }
    .section1 {

        .map-img {
            width: 400px;
            margin-left: 370px;
            margin-top: 30px;
            float: left;
            
            &:hover p {
                opacity: 1;
            }
            p {
                position: absolute;
                text-align: center;
                color: white;
                font-size: 28px;
                z-index: 1;
                opacity: 0;
            }
                img{
                width: 400px;
                &:hover {
                    filter: brightness(50%);
                }
            }
        }
        .card-img {
            width: 400px;
        }
        .line {
            font-size: 16px;
            line-height: 1.6;
            color: #666;
            word-break: keep-all;
            -webkit-text-size-adjust: none;
            -webkit-user-select: none;
            margin: 0;
            padding: 0;
            position: absolute;
            left: 0;
            top: 0;
            display: inline-block;
            width: 100%;
            height: 100%;
            box-sizing: border-box;
            border: 1px solid #e5e5e5;
        }
    }
    .section2 {
        border: 1px solid #d4d4d4;
    }
    .section3 {
        
        .body-area {
            margin: 0;
            padding: 0;
            border: 0;
            position: relative;
            margin-top: 25px;
            border-top: 3px solid #000;
            width: 60%;
            margin-left: 360px;

            table {
                font-size: 16px;
                line-height: 1.6;
                color: #666;
                word-break: keep-all;
                -webkit-text-size-adjust: none;
                -webkit-user-select: none;
                margin: 0;
                padding: 0;
                border: 0;
                width: 100%;
                border-collapse: separate;
                border-spacing: 0;
                text-align: center;
                table-layout: fixed;

                tr {
                    font-size: 1.7rem;
                    line-height: 1.6;
                    color: #666;
                    word-break: keep-all;
                    -webkit-text-size-adjust: none;
                    -webkit-user-select: none;
                    border-collapse: separate;
                    border-spacing: 0;
                    text-align: center;
                    margin: 0;
                    padding: 0;
                    border: 0;

                    .tr-title {
                        font-family: "cjBody",sans-serif;
                        font-size: 1.8rem;
                        word-break: keep-all;
                        -webkit-text-size-adjust: none;
                        -webkit-user-select: none;
                        border-collapse: separate;
                        border-spacing: 0;
                        margin: 0;
                        border: 0;
                        text-align: left;
                        color: #000;
                        border-bottom: 1px solid #f2f2f2;
                        padding: 21px 20px 21px 5px;
                        vertical-align: middle;
                        line-height: 1.6;
                    }
                    .tr-date {
                        font-family: "cjBody",sans-serif;
                        font-size: 1.8rem;
                        word-break: keep-all;
                        -webkit-text-size-adjust: none;
                        -webkit-user-select: none;
                        border-collapse: separate;
                        border-spacing: 0;
                        margin: 0;
                        border: 0;
                        color: #000;
                        border-bottom: 1px solid #f2f2f2;
                        padding: 21px 20px 18px;
                        vertical-align: middle;
                        line-height: 1.6;
                        width: 130px;
                        text-align: right;
                    }
                }
            }
        }
        .btnmore-area{
            width: 100%;
            text-align: center;
            .more {
                cursor: pointer;
                margin-top: 50px;
                font-family: 'IBMPlexSansKR-Regular';
                font-weight: bold;
                width: 150px;
                height: 50px;
                border: 3px solid #333;
                background: none;
                font-size: 1.7rem;
                color: #333;
                outline: none;
                &:hover{
                    background-color: rgba(134, 134, 134, 0.3);
                    color: #222;
                }
                .arrow-right {
                    margin-left: 10px;
                }
            }
        }
    }
} // contentsMain end