@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-kr.css);
.banner-title, .th-title, th { font-family: 'Spoqa Han Sans', 'Spoqa Han Sans JP', 'Sans-serif'; }

html { 
    font-size:62.5%;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
}
.contentsNotice {
    font-style: normal;
    font-weight: normal;
    font-size: 1.4rem;
    line-height: 1.4;
    color: #666;
    word-break: keep-all;
    max-height: 99999px;
    min-height: 460px;
    margin:0 auto;
    margin-top: 10vh;
    // padding: 0 0 100px;
    position: relative;
    box-sizing: border-box;
    transition: all .7s ease-out;
    transform-origin: 50% 50%;
    transition-delay: .2s;
    opacity: 1;
    top: 0px;
    width: 1200px;
    // margin-bottom: 400px;

    .banner{
    color: #222;
    font-size: 14px;
    font-weight: 400;
    line-height: 1;
    letter-spacing: 0;
    word-break: break-all;
    text-align: center;
    padding: 0px;
    vertical-align: top;

        .banner-title {
            color: #222;
            line-height: 1.4;
            letter-spacing: 0;
            word-break: break-all;
            text-align: center;
            margin: 0px;
            padding: 0px;
            vertical-align: top;
            font-size: 2.7rem;
            font-weight: bold;
        }
        .subtitle {
            width: 320px;
            font-size: 1.6rem;
            margin: 0 auto;
            background-color: rgba(255, 232, 100, 0.3);
        }
    }//banner

    .list {
        color: #222;
        font-size: 1.4rem;
        font-weight: 400;
        line-height: 1;
        letter-spacing: 0;
        margin: 10vh 0 0 0;
        padding: 0px;
        vertical-align: top;
        border-collapse: collapse;
        border-spacing: 0;
        word-break: break-all;
        width: 1200px;
        border-bottom: 1px solid #c8c8c8;
        background: #fff;
        table-layout: fixed;

            thead {
                color: #222;
                font-size: 1.4rem;
                font-weight: 400;
                line-height: 1;
                letter-spacing: 0;
                border-collapse: collapse;
                border-spacing: 0;
                word-break: break-all;
                margin: 0px;
                padding: 0px;
                vertical-align: top;
            }// thead end
            .th-title {
                letter-spacing: 0;
                border-collapse: collapse;
                border-spacing: 0;
                word-break: break-all;
                margin: 0px;
                font-weight: 400;
                padding: 20px 10px;
                color: #333;
                font-size: 1.6rem;
                line-height: 18px;
                border-bottom: 1px solid #dcdcdc;
                background-color: #f9f9f9;
                text-align: center;
                vertical-align: middle;
                width: 600px;
            }
            .th-date {

            }
            th {
                letter-spacing: 0;
                border-collapse: collapse;
                border-spacing: 0;
                word-break: break-all;
                margin: 0px;
                font-weight: 400;
                padding: 0 10px;
                color: #333;
                font-size: 1.6rem;
                line-height: 18px;
                border-bottom: 1px solid #dcdcdc;
                background-color: #f9f9f9;
                text-align: center;
                vertical-align: middle;
                width: 100px;

            }
            tbody {
                color: #333;
                font-size: 1.4rem;
                font-weight: 400;
                line-height: 1;
                letter-spacing: 0;
                border-collapse: collapse;
                border-spacing: 0;
                word-break: break-all;
                margin: 0px;
                padding: 0px;
                vertical-align: top;
                tr {   
                    &:hover{
                        background-color: rgba(248, 238, 172, 0.15)
                        } 
                    td {
                        font-weight: 400;
                        letter-spacing: 0;
                        border-collapse: collapse;
                        border-spacing: 0;
                        word-break: break-all;
                        margin: 0px;
                        height: 57px;
                        padding: 0 10px;
                        color: #333;
                        font-size: 1.4rem;
                        line-height: 16px;
                        border-top: 1px solid #dcdcdc;
                        text-align: center;
                        vertical-align: middle;
                        a:link {text-decoration: none; color: rgb(29, 29, 29);}
                        a:visited {text-decoration: none; color: rgb(29,29,29);}
                    }// ted end
            }// tr end
            }// tbody end
        }// list end
}// contentsNotice end
.pageNation {
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    button {
        font-size: 14px;
        margin: 20px auto;
    }
} 



@media screen and (max-width: 479px) {
    .contentsNotice {
        max-width: 100%;

        .banner {
            width: 90%;
            margin: 0 auto;
            word-break:keep-all;

            .banner-title {
                font-size: 2rem;
            } 
            .subtitle {
                width: 70%;
                margin: 0 auto;
                font-size: 1.35rem;
            }
        }// banner end
        
        .list {
            width: 100%;
            .charge-title {
                width: 35%;
                font-size: 1.3rem;
                padding: 0;
            }
            th {
                font-size: 1.3rem;
            }
            .khw, .price {
                width: 20%;
                padding: 12px 0;
            }
            tbody {
                .list-title, .list-date, .list-khw, .list-price {
                    font-size: 1.2rem;
                }
                .list-title {
                    padding: 0 10px;
                }
                .list-khw, .list-price {
                    width: 10%;
                }
        }//tbody end
        }
    }// contentsQlist end
} // media end

