.contentsA{
    font-family: 'Noto Sans KR', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 1.4rem;
    line-height: 1.4;
    color: #666;
    word-break: keep-all;
    max-height: 99999px;
    min-height: 460px;
    margin:0 auto;
    margin-top: 150px;
    padding: 0 0 100px;
    position: relative;
    box-sizing: border-box;
    transition: all .7s ease-out;
    transform-origin: 50% 50%;
    transition-delay: .2s;
    opacity: 1;
    top: 0px;
    width: 1200px;
    margin-bottom: 400px;

    .banner{
        color: #222;
        font-size: 1.4rem;
        font-weight: 400;
        line-height: 1;
        letter-spacing: 0;
        word-break: break-all;
        text-align: center;
        margin-top: 10px;
        padding: 0px;
        vertical-align: top;
        
        .banner-title {
            color: #222;
            line-height: 1.4;
            letter-spacing: 0;
            word-break: break-all;
            text-align: center;
            margin: 0px;
            padding: 0px;
            vertical-align: top;
            font-size: 3rem;
            font-weight: bold;
        }
        .subtitle {
            font-size: 1.6rem;
        }
    } //banner
    
    .a-area {
        font-size: 1.2rem;
        color: #1c1c1c;
        line-height: 1.25;
        -webkit-font-smoothing: antialiased;
        padding: 0;
        margin: 0;
        margin-top: 45px;
        border-top: 2px solid #464646;
        border-bottom: 1px solid #d2d2d2;

        .title-area {
            -webkit-text-size-adjust: 100%;
            color: #888;
            font-style: normal;
            font-size: 1.4rem;
            font-weight: 400;
            line-height: 1;
            letter-spacing: -1px;
            box-sizing: border-box;
            margin: 0;
            padding: 0;
            display: table;
            width: 100%;
            border-bottom: 1px solid #d2d2d2;
            background-color: #f2f2f2;
            position: relative;
        }
        dt {
            -webkit-text-size-adjust: 100%;
            color: #888;
            font-style: normal;
            font-size: 1.4rem;
            font-weight: 400;
            letter-spacing: -1px;
            box-sizing: border-box;
            margin: 0;
            width: 150px;
            text-align: center;
            vertical-align: middle;
            display: table-cell;
            padding: 21px 0;
            line-height: 1.3em;
        }
       dd{
            -webkit-text-size-adjust: 100%;
            font-style: normal;
            letter-spacing: -1px;
            box-sizing: border-box;
            margin: 0;
            display: table-cell;
            padding: 21px 0;
            line-height: 1.3em;
            font-size: 1.7rem;
            font-weight: 500;
            color: #333;
        }
        .date {
            -webkit-text-size-adjust: 100%;
            font-style: normal;
            letter-spacing: -1px;
            box-sizing: border-box;
            margin: 0;
            display: table-cell;
            padding: 21px 0;
            line-height: 1.3em;
            position: absolute;
            top: 0;
            right: 0;
            padding-right: 30px;
            font-weight: normal;
            color: #999;
            font-size: 1.4rem;
            font-family: 'Arial';
        }

        .content-area {
            -webkit-text-size-adjust: 100%;
            color: #888;
            font-style: normal;
            font-size: 1.4rem;
            font-weight: 400;
            letter-spacing: -1px;
            box-sizing: border-box;
            margin: 0;
            display: table-cell;
            padding: 50px 0;
            padding-left: 150px;
            line-height: 1.5em;
            p {
                -webkit-text-size-adjust: 100%;
                color: #888;
                font-style: normal;
                font-size: 1.4rem;
                font-weight: 400;
                letter-spacing: -1px;
                line-height: 1.5em;
                box-sizing: border-box;
                margin: 0;
                padding: 0;
            }// a-content
        }// content-area
    } // a-area
}

@media screen and (max-width: 479px) {
    .contentsA {
        max-width: 100%;

        .banner {
            width: 90%;
            margin: 0 auto;
            word-break:keep-all;

            .banner-title {
                font-size: 20px;
            } 
            .subtitle {
                width: 70%;
               margin: 0 auto;
                font-size: 13.5px;
            }
        }// banner 
        .a-area {
            border-top: 1px solid #464646 ;
            .title-area{
                dt {
                    width: 90px;
                }
                dd {
                    font-size: 14px;
                }
                .date {
                    font-size: 12px;
                    line-height: 18px;
                    
                }
            }
                    
        .content-area {
            padding: 20px;
         }// content-area
        }// a-area
    }// contentsA
}
